<!DOCTYPE html>
<link rel="stylesheet" href="/static/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
  <header class="header">
  <script src="//d3js.org/d3.v3.min.js"></script>

  <script type='text/javascript' src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"> </script>

  <nav id="navigation">
  <a class="button" data-popup-open="about-popup" href='#'>About this page</a>
  <a class="button" data-popup-open="glossary-popup" href='#'>Glossary of terms</a>
  <a class="button" data-popup-open="popup-1" href="#">How this page works</a>
  <a class="button">Resources</a>
  </nav>
  </header>
  <div class="sidebar">
    <h1>Brain Disorders</h1>
    <ul id="disorders">
    <li><a id="0">ADHD</a></li>
    <li><a id="1">Alzheimer's disease</a></li>
    <li><a id="2">Anxiety</a></li>
    <li><a id="3">Frontoparietal dementia</a></li>
    <li><a id="4">Major depressive disorder</a></li>
    <li><a id="5">Schizophrenia</a></li>
    </ul>
  </div>
  <body>
  <script id="graph" src="/static/graph.js" charset="utf-8"></script>

  <!-- Popup for the 'How it Works' page -->
  <div class="popup" data-popup="popup-1">
    <div class="popup-inner">
    <ul id="how-to-use">
    <h2>How this page works</h2>
    <li>Select a psychopathology from the drop-down menu at the side</li>
    <li>The relevant areas in each brain network affected will be highlighted</li>
    <li>Click on a highlighted node or edge to learn more about how that region is affected during that disorder</li>
    </ul>
    <a data-popup-close="popup-1" href="#">Close</a>
    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
    </div>
  </div>

  <!-- Popup for the 'About' page -->
  <div class="popup" data-popup="about-popup">
    <div class="popup-inner">
    <div id="about">
    <h2>About this page</h2>
    The purpose of this website is to provide information about how various networks in the brain influence psychopathological disorders.
    <p>
    We often have a vision of the brain as a sort of puzzle, with each brain region assigned to a different task. A better way to think of the brain is as a series of complex networks and systems. These systems are responsible for some of our most important functions, such as attention, action, and emotion.
    <p>
    Psychopathology is a great way to allow people to engage with the brain, as it is something that almost anyone could relate to. We all know someone who has experienced an instance of psychopathology; in this way, it is relevant to all of us. Learning about the networks of the brain through the lens of psychopathology allows the brain to become more relevant to us from a neuroscientific standpoint.

    </div>
    <a data-popup-close="about-popup" href="#">Close</a>
    <a class="popup-close" data-popup-close="about-popup" href="#">x</a>
    </div>
  </div>

   <!-- Popup for the 'Glossary' page -->
  <div class="popup" data-popup="glossary-popup">
    <div class="popup-inner">
    <div id="glossary">
    <h2>Glossary of terms</h2>
    Terms (to be added at the end)
    
    </div>
    <a data-popup-close="glossary-popup" href="#">Close</a>
    <a class="popup-close" data-popup-close="glossary-popup" href="#">x</a>
    </div>
  </div>

  <!-- Popup for node information, to be edited dynamically -->
  <div class="popup-node" data-popup="node-popup">
    <div class="popup-inner">
    <h2 id="node-title"></h2>
    <div id="node-info"></div>
    <p></p>
    <a class="popup-node" data-popup-close="node-popup" href="#">Close</a>
    <a class="popup-close" data-popup-close="node-popup" href="#">x</a>
    </div>
  </div>

  <script type=text/javascript src="{{
  url_for('static', filename='jquery.js') }}"></script>
  <script src="/static/popup.js" charset="utf-8"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  </body>
</html>