<header class="header">
  <nav class="cd-stretchy-nav">
    <a href="#cd-navigation" class="cd-nav-trigger">
      Menu
      <span aria-hidden="true"></span>
    </a>
    <ul id="cd-navigation">
      <li><a href="http://sydneymaples.com" class="active"><span>Home</span></a></li>
      <li><a href="http://sydneymaples.com/about.html" class="active"><span>About</span></a></li>
      <li><a href="http://sydneymaples.com/archives.html" class="active"><span>Blog Posts</span></a></li>
      <li><a href="http://sydneymaples.com/projects.html" class="active"><span>Projects</span></a></li>
      <li><a href="http://sydneymaples.com/lists.html" class="active"><span>Lists</span></a></li>
    </ul>
    <span aria-hidden="true" class="stretchy-nav-bg"></span>
  </nav>
</header>
<script src="lib/jquery/jquery-2.1.4.js"></script>
<script src="/js/stretchynav.js"></script>