<!DOCTYPE html>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>{{ page.title }}</title>
<meta name="viewport" content="width=device-width">
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:site_name" content="Sydney Maples" />
<meta property="og:type" content="blog" />

<link href='http://fonts.googleapis.com/css?family=EB+Garamond|Cinzel+Decorative:400,700|Raleway|Marta' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="stylesheets/main.css" />
<link rel="stylesheet" type="text/css" href="stylesheets/syntax.css" />
</head>

<header class="header">
  <nav id="nav">
    <div id="nav-top"><a href="home.html">{{ page.title }}</a>
      <div id="nav-hidden">
        <a href="about.html">about.</a> - 
        <a href="index.html">post archives.</a> - 
        <a href="resume.html">cv.</a> - 
        <a href="portfolio.html">creative work.</a> - 
        <a href="projects.html">projects.</a> 
      </div>
    </nav>
    <div id="triangle"></div>
    <div></div>
  </header>
