body{
  background:white;
  color: #686765;
  font-family: 'EB Garamond', 'Raleway', Verdana, sans-serif;
  font-size: 20px;
}

#nav-top a {
  color: #7E94B4;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}

#nav-content {
  float:left;
  width:100px;
  border:1px solid #333;
}

.post-title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}

.desc {
  font-size: 20px;
}

.post h1 {
  color: #7E94B4;
  font-size: 50px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Cinzel Decorative', Tahoma, sans-serif;
}

a:link, a:visited {
  color: #B48375;
  text-decoration: none;
}

a:hover {
  color: #550E52;
}

.post {
  padding: 30px;
  margin-left: 200px;
  margin-right: 200px;
}

.post hr {
  border-color: #7E94B4;
}

.post-resume {
  text-align: center;
}

.paginator {
  text-align: center;
}

footer {
  font-size: 20px;
  text-align: center;
  font-family: 'Cinzel Decorative', Tahoma, sans-serif;
}

strong {
  color: #7E94B4;
}