body{
  background:linen;
  color: #686765;
  font-family: 'EB Garamond', 'Raleway', Verdana, sans-serif;
  font-size: 20px;
}

#nav-top {
background: #AA2F41;
  padding: 10px 0 10px 0;
  text-align: right;
  height: 20px;
  overflow: hidden;
  -webkit-transition: height 0.2s linear;
  -moz-transition: height 0.2s linear;
  transition: height 0.2s linear;
}

#nav-top a {
  color: white;
  font-size:1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}

#nav-top a:hover {
  opacity: 1;
}
 
#nav-hidden {
  display: block;
  width: 100%;
  background: #B48375;
  color: #B48375;
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  text-align: center;
  color: #B48375;
}

#nav-hidden a {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
  opacity: 0.5;
  text-shadow: none;
}

#nav-hidden a:hover { opacity: 1; }
 
#nav-top:hover { height: 50px; }

#triangle {
  margin-left: 50%;
  width: 0; 
  height: 0; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #B48375;
}

.post h1 {
  color: #90C7A8;
  font-size: 50px;
  margin-bottom: 0px;
  text-align: center;
  font-family: 'Cinzel Decorative', Tahoma, sans-serif;
}

a:link, a:visited {
  color: #B48375;
  text-decoration: none;
}

a:hover {
  color: #90C7A8;
}

.post {
  padding: 30px;
  margin-left: 200px;
  margin-right: 200px;
}

.post hr {
  border-color: #FB4969;
}

.post-resume {
  text-align: center;
}

.paginator {
  text-align: center;
}

#footermedia {
  
}

#footermedia strong {

}

footer {
  font-size: 20px;
  text-align: center;
  font-family: 'Cinzel Decorative', Tahoma, sans-serif;
  color: white;
  text-shadow: 
  1px 0px 1px #AA2F41, 0px 1px 1px #AA2F41, 
  2px 1px 1px #AA2F41, 1px 2px 1px #AA2F41,
  3px 2px 1px #ccc, 2px 3px 1px #AA2F41,
  4px 3px 1px #ccc, 3px 4px 1px #AA2F41,
  5px 4px 1px #ccc, 4px 5px 1px #AA2F41,
  6px 5px 1px #ccc, 5px 6px 1px #AA2F41,
  7px 6px 1px #ccc;
}

strong {
  color: #B48375;
}